# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Dictionary source files
G__*.cxx
G__*.h
*_dictContent.h
*_dictUmbrella.h
*_rdict.pcm

# MacOS Xcode
xcuserdata
project.xcworkspace

# MacOS metadata
.DS_Store

# Visual Code
.vscode/*

# CLion
.idea/*
cmake-build-*

# QtCreator
CMakeLists.txt.user

# Eclipse
.settings/*

# Vim
*.swp

# Other Stuff
*.d
googlebenchmark-prefix

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#Python

__pycache__/
*.py[cod]
